{% extends 'base.html' %}

{% block content %}
<h2 class="lista-tareas">Lista de Tareas</h2>
<ul>
    {% for tarea in tareas %}
    <li>
        <p>Equipo: {{ tarea.equipo }}</p>
        <p>Fecha de mantenimiento: {{ tarea.fecha_mantenimiento }}</p>
        <p>Procedimiento: {{ tarea.procedimiento }}</p>

        <!-- Botón para modificar tarea -->
        <a href="{% url 'modificar' tarea.id %}" class="btn btn-primary">Modificar tarea</a>

        <!-- Botón para eliminar tarea -->
        <form method="post" action="{% url 'eliminar' tarea.id %}" style="display: inline;">
            {% csrf_token %}
            <input type="submit" value="Eliminar tarea" class="btn btn-danger">
        </form>

    </li>
    {% endfor %}
</ul>

<div class="cuadrado-agregar">
    <h2 class="agregar-tarea">Agregar Nueva Tarea</h2>
    <form method="post" action="{% url 'agregar' %}">
        {% csrf_token %}
        <label for="equipo" class="label-tarea">Equipo:</label>
        <input type="text" id="equipo" name="equipo" required>
        <label for="fecha_mantenimiento" class="label-tarea">Fecha de mantenimiento:</label>
        <input type="date" id="fecha_mantenimiento" name="fecha_mantenimiento" required>
        <label for="procedimiento" class="label-tarea">Procedimiento:</label>
        <textarea id="procedimiento" name="procedimiento" required></textarea>
        <input type="submit" value="Agregar tarea" class="btn btn-primary">
    </form>
</div>

{% endblock %}

